ion-content {
  --background: var(--ion-color-dark) url('../../../assets/img/leaves.jpg') no-repeat center/cover;
}

ion-list {
  transform: translateY(15vh);
  background: transparent;
  color: var(--ion-color-secondary-contrast);
  img {
    background: white;
    height: 20vh;
    border-radius: 50%;
    margin-bottom: 8vh;
  }
  // ion-list-header {
  //   margin-bottom: 15vh;
  //   letter-spacing: 3px;
  //   ion-label {
  //     color: var(--ion-color-secondary-contrast);
  //     font-weight: bold;
  //     font-size: 3rem;
  //     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  //   }
  // }
}

ion-button {
  font-weight: bold;
  text-transform: none;
  margin: 5vh;
  color:var(--ion-color-dark);
  background: var(--ion-color-secondary-contrast);
}

p {
  font-size: 0.9rem;
} 